<!doctype html>
<html ng-app="app">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body ng-controller="appCtrl as vm">
<!--navbar-->
<div class="nav-container">
    <div class="container full-nav">
        <ul>
            <li class="dark dark-left">
                <a href="#">toys</a>
            </li><li class="med med-left">
            <a href="#">collector's guide</a>
        </li><li class="logo">
            <a href="#">
                <img src="assets/media/images/fornite-logo.png" alt="">
            </a>
        </li><li class="med med-right">
            <a class="modal-button wtb-Modal" data-toggle="modal" data-target="#wtb-Modal">where to buy</a>
        </li><li class="dark dark-right">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
        </ul>
    </div>
    <div class="container mobile-nav">
        <ul>
            <li class="med med-left">
                <a href="#">toys</a>
            </li><li class="logo">
            <a href="#">
                <img src="assets/media/images/fornite-logo.png" alt="">
            </a>
        </li><li class="med med-right"> 
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
        </ul>
    </div>
</div>
<section>
    <!--first banner-->
    <div id="fornite_banner" style="background-image: url('assets/media/images/fornite_main.jpg');">
        <!--<img src="assets/media/images/fornite_main.jpg" alt="Fornite" width="100%">-->
    </div>
    <!--second banner-->
    <div id="second_banner_row" class="row row-margin-cero">
        <div class="col-md-6 text-center">
            <div class="text-left">
                <h3 style="text-transform: uppercase">COOL IN GAME REVEALS!</h3>
                <p>
                    Each Fornite collectible comes with a code that can be redeemed
                    for a virtual item on fortnite.com/toys/redeem. A few lucky winners
                    will receive an additional Chased code, unlocking a bonus (and
                    very rare) virtual item!
                </p>
                <h3 style="text-transform: uppercase">Buy! Scan! Reveal!</h3>
                <p>
                    Use the collector’s checklist to keep track of your Fortnite
                    collection!
                </p>
                <button id="redeem_btn" type="button" ng-click="vm.openRedeem()">REDEEM MY CODE</button>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/media/images/fornite-box.png" alt="Fornite" width="100%">
        </div>
    </div>

</section>
<!--items-->
<div class="container">
    <div class="row row-margin-cero">
        <!--<div class="col-md-3">-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-click="vm.open('lg')">Large modal</button>&ndash;&gt;-->
            <!--filter-->
        <!--</div>-->
        <div class="col-md-12">
            <div class="row row-margin">





                <div class="f-tab-cont text-center">
                    <span class="f-tab"
                          style="background-color: #FFA765;margin-left: 0;padding-left: 0">
                        <span class="f-tab-txt">
                            <a href="#">REDEEM CODE</a>
                        </span>
                    </span>
                    <span class="f-tab" style="background-color: #FF633E;">
                        <span class="f-tab-img">
                            <img src="assets/media/images/Fortnite-Shield.png" alt="fornite core button" width="70px">
                        </span>
                        <span class="f-tab-txt">
                            <a href="#">Core</a>
                        </span>
                    </span>
                    <span class="f-tab" style="background-color: #FFCC50;">
                        <span class="f-tab-img">
                            <img src="assets/media/images/FallingBoxes.png" alt="fornite core button" width="70px">
                        </span>
                        <span class="f-tab-txt">
                            <a href="#">LEVEL 100</a>
                        </span>
                    </span>
                </div>




                <div ng-repeat="item in vm.items" class="col-xs-12 col-sm-6 col-md-4"
                     style="padding: 10px;height: 280px">
                    <div class="card">
                        <div style="width: 70%">
                            <img ng-src="{{item.src}}"
                                 ng-click="vm.open(item)" alt="" width="100%"
                                style="border-right: 2px solid;">
                            <span class="little_img">
                                <img src="{{ item.src }}" alt="" style="width: 100%">
                            </span>
                            <span class="v_item">
                                <p>
                                    virtual item
                                </p>
                            </span>
                            <span class="glyphicon glyphicon-ok check_item" aria-hidden="true"
                                  ng-style="{color: (item.selected ? 'green': '')}"
                                  ng-click="item.selected = !item.selected">
                            </span>

                        </div>


                        <div class="card-footer">
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer id="footer">
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/media/images/fornite-logo.png" alt="" style="max-width: 200px">
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <img src="assets/media/images/Jazwares_w.png" alt="" style="max-width: 200px">
            <p>©2018 Jazwares, LLC All rights reserved.</p>
        </div>
    </div>
</footer>

<!--External-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
<script src="assets/js/todo.js"></script>
<script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>


<!--modals-->
<script type="text/ng-template" id="myModalContent.html">
    <div ng-if="vm.fig" class="modal-header">
        <h2 class="modal-title" id="modal-title">COLLECTOR'S GUIDE ITEM</h2>
    </div>
    <div class="modal-body" id="modal-body">
        <div ng-if="vm.fig" class="row">
            <div class="col-md-6">
                <img ng-src="{{vm.fig.src}}" alt="" width="100%">
            </div>
            <div class="col-md-6">
                <h3>{{ vm.fig.name }}</h3>
                <p>{{ vm.fig.description }} </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <!--<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>-->
    </div>
</script>
<script type="text/ng-template" id="redeemModal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="redeem_modal-title">IMPORTANT MESSAGE</h4>
    </div>
    <div class="modal-body" id="redeem_modal-body">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>YOU ARE NOW LEAVING FORTNITE.JAZWARES.COM</strong></h4>
                <p>By clicking “continue” you’ll be leaving our website and landing on
                    another site hosted by Epic. Remember, they have different terms
                    and privacy policies. Hope we see you soon! YOUNG Fortnite
                    Gamers, get your parent’s permission before visiting other sites.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">CONTINUE</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">CANCEL</button>
    </div>
</script>


</body>
</html>